body {
    padding-top: 70px;
    background: #f4f6f9;
}

/* NAVBAR */
.navbar {
    background: linear-gradient(90deg, #0a1f44, #123b8c);
}

/* SLIDER */
.carousel-item img {
    height: 450px;
    object-fit: cover;
}

.carousel-caption {
    background: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
}
